body {
    background-color:aqua;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

table {
    text-align: center;
}

.sad {
    width: 90%;
}

.importantKeyWords {
    color: brown;
    font-weight:bolder;
    font-style: oblique;
}

img.imgValidate {
    border: 0;
    width: 88px;
    height: 31px
}