body {
    background-color:aqua;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

table {
    text-align: center;
}

.sad {
    width: 90%;
}

.importantKeyWords {
    color: brown;
    font-weight:bolder;
    font-style: oblique;
}

img.imgValidate {
    border: 0;
    width: 88px;
    height: 31px
}

dt {
    color: yellow;
}

dd {
    color: coral;
}

p::first-letter {
    float: left; 
    width: 0.8em; 
    font-size: 350%; 
    font-family: algerian, courier; 
    line-height: 80%;
}